
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('background_image.jpg'); /* Замените 'background_image.jpg' на путь к вашему изображению фона */
    background-size: cover;
    background-position: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.container p {
    color: #666;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}