/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: rgb(226, 226, 226);
  font-family: "Poppins", sans-serif;
}

nav {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 90px;
  background: #fff;
  overflow: hidden;
  transition: width 1s;
}

nav:hover {
  width: 280px;
}

.logo {
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
  padding-bottom: 3rem;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  position: relative;
  width: 280px;
  font-size: 14px;
  color: rgb(85, 83, 83);
  display: table;
  padding: 10px;
  font-size: 15px;
}

nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 20px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}

a:hover {
  background: #eee;
}

a:hover i {
  color: #34af6d;
  transition: 0.5s;
}

.logout {
  position: absolute;
  bottom: 0;
}

.container {
  display: flex;
}

.card {
    width: 300px;
    height: 500px;
    border: 5px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card-title {
    font-size: 1.2em;
    margin-bottom: 8px;
  }
  
  .card-text {
    font-size: 1em;
    color: #333;
    margin: 5px;
  }
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
  }
  
  .star {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../img/star-empty.png');
  }
  
  .star:hover,
  .star.clicked {
    background-image: url('../img/star-filled.png');
    
  }
  
