
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-fPT {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #e5e5e5;

  .vector-PKT {
    height: 162.7612rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 137.8213rem;
  }
  .vector-XRf {
    width: 103.8004rem;
    height: 156.7789rem;
    position: absolute;
    left: 12.7rem;
    top: 0;
    object-fit: contain;
    vertical-align: top;
  }
  .vector-CXo {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 178.3176rem;
    height: 179.4368rem;
  }
  .text-xG5 {
    width: 37rem;
    height: 27.85rem;
    position: absolute;
    left: 17.2rem;
    top: 37.25rem;

    .description-HZF {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 4.8rem;

      .title-e8u {
        font-weight: 700;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        display: flex;
        max-width: 37rem;
        font-size: 6.4rem;
        line-height: 1.1725;
        letter-spacing: -0.0593rem;
        flex-shrink: 0;
        margin-bottom: 2.35rem;
      }
      .upd-19-september-20-8pm {
        color: #242424;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 0.7777777778;
      }
    }
    .upd-19-september-21-3gq {
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 1;
      color: #3b3b3b;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
    }
  }
  .dashboard-Zv5 {
    height: 108.6rem;
    position: absolute;
    overflow: hidden;
    align-items: center;
    display: flex;
    box-shadow: -0.2rem 0.4rem 6rem rgba(0, 0, 0, 0.1599999964);
    background-color: #f7f7f7;
    width: 144rem;
    left: 68.6rem;
    top: 34.4rem;
    flex-direction: column;

    .header-hFb {
      height: 6.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;

      .auto-group-ntn1-469 {
        padding: 1.2rem 2.3rem 1rem 2.4rem;
        height: 100%;
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        box-sizing: border-box;
        align-items: center;
        background-position: center;
        background-image: url('REPLACE_IMAGE:34:19');
        flex-shrink: 0;

        .avatar-man-15-nH3 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.6rem 0.2rem 0rem;
          width: 4rem;
          height: 4rem;
          position: relative;
          object-fit: contain;
        }
        .jane-s-VhF {
          line-height: 1.5;
          letter-spacing: 0.015rem;
          flex-shrink: 0;
          margin: 1.2rem 9.1rem 0rem 0rem;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.8700000048);
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2rem;
        }
        .icon-navigation-arrowdropdown-ohw {
          height: 0.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.7rem;
          width: 1rem;
        }
      }
      .auto-group-k1bj-J8u {
        width: 116.8rem;
        height: 100%;
        display: flex;
        background-size: cover;
        background-position: center;
        background-image: url('REPLACE_IMAGE:34:10');
        padding: 2rem 2.6rem 1.7rem 1.6rem;
        align-items: center;
        background-repeat: no-repeat;
        flex-shrink: 0;
        box-sizing: border-box;

        .search-RDX {
          flex-shrink: 0;
          margin: 0.6rem 99.4rem 0rem 0rem;
          display: flex;
          align-items: center;

          .icon-other-search-xDT {
            flex-shrink: 0;
            margin: 0rem 0.8rem 0.1rem 0rem;
            width: 2rem;
            height: 2rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .quick-search-53B {
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-weight: 400;
            line-height: 1.4285714286;
            white-space: nowrap;
            font-size: 1.4rem;
            letter-spacing: 0.05rem;
            color: #8e8e93;
          }
        }
        .icon-social-notifications-BM7 {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          width: 1.7rem;
          height: 2rem;
        }
      }
    }
    .auto-group-gazh-ekV {
      width: 100%;
      height: 102.2rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.6rem 2.4rem 3.8rem 1.6rem;

      .auto-group-oium-Ayj {
        display: flex;
        column-gap: 1.6rem;
        align-items: flex-start;
        flex-shrink: 0;
        margin-bottom: 2.4rem;
        width: 100%;
        height: 47.2rem;

        .menu-uAd {
          align-items: center;
          display: flex;
          background-color: #ffffff;
          border-radius: 1.4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.4rem 1.6rem 3.2rem 2.4rem;
          width: 25.6rem;
          height: 100%;
          flex-direction: column;

          .navigation-elements-vertical-line-items-default-selected-bZF {
            padding: 1.1rem 8.5rem 0.8rem 1.7rem;
            align-items: center;
            background-color: rgba(47, 128, 237, 0.1000000015);
            margin-bottom: 1.4rem;
            width: 100%;
            display: flex;
            border-radius: 0.4rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .icon-action-dashboard-tYM {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 2.7rem 0.3rem 0rem;
              width: 1.8rem;
              height: 1.8rem;
              object-fit: contain;
            }
            .dashboard-yph {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.01rem;
              color: #2f80ed;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .navigation-elements-vertical-line-items-default-inactive-F1X {
            margin: 0rem 11rem 2.4rem 1.4rem;
            box-sizing: border-box;
            padding: 0.5rem 0rem 0rem 0.1rem;
            width: calc(100% - 12.4rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-social-people-Xjj {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 2.5rem 0.7rem 0rem;
              width: 2.2rem;
              height: 1.4rem;
              object-fit: contain;
            }
            .people-dXs {
              color: rgba(0, 0, 0, 0.8700000048);
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.01rem;
            }
          }
          .navigation-elements-vertical-line-items-default-inactive-ZgR {
            margin: 0rem 10.1rem 2.4rem 1.4rem;
            box-sizing: border-box;
            padding: 0.1rem 0rem 0rem 0.3rem;
            width: calc(100% - 11.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-action-assignment-35o {
              margin: 0rem 2.7rem 0.3rem 0rem;
              width: 1.8rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .projects-wws {
              letter-spacing: 0.01rem;
              color: rgba(0, 0, 0, 0.8700000048);
              white-space: nowrap;
              margin-top: 0.2rem;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .navigation-elements-vertical-line-items-default-inactive-D2D {
            width: calc(100% - 11.1rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 9.7rem 2.4rem 1.4rem;
            box-sizing: border-box;
            padding: 0.3rem 0rem 0rem 0.3rem;

            .ioniconssvgmd-calendar-5aD {
              flex-shrink: 0;
              margin: 0rem 2.7rem 0.3rem 0rem;
              width: 1.8rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
            }
            .calendar-mT3 {
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.01rem;
              color: rgba(0, 0, 0, 0.8700000048);
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
          }
          .navigation-elements-vertical-line-items-default-inactive-fYR {
            margin: 0rem 10.2rem 2.4rem 1.4rem;
            width: calc(100% - 11.6rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .auto-group-jybo-Bmf {
              margin-right: 2.4rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .training-uxZ {
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.01rem;
              color: rgba(0, 0, 0, 0.8700000048);
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
          }
          .navigation-elements-vertical-line-items-default-inactive-eQM {
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;
            margin: 0rem 8.6rem 2.4rem 1.4rem;
            width: calc(100% - 10rem);

            .icon-social-people-NbF {
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2.4rem;
              width: 2.4rem;
            }
            .timesheet-hNd {
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.01rem;
              color: rgba(0, 0, 0, 0.8700000048);
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
          }
          .navigation-elements-vertical-line-items-default-inactive-ogZ {
            margin: 0rem 10.4rem 2.4rem 1.4rem;
            width: calc(100% - 11.8rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .icon-social-people-iHj {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2.4rem;
              width: 2.4rem;
              height: 2.4rem;
            }
            .reports-SDj {
              letter-spacing: 0.01rem;
              color: rgba(0, 0, 0, 0.8700000048);
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
          .navigation-elements-vertical-line-items-default-inactive-NNH {
            align-items: flex-end;
            flex-shrink: 0;
            margin: 0rem 6rem 2.4rem 1.4rem;
            width: calc(100% - 7.4rem);
            display: flex;

            .icon-social-people-Vxh {
              margin-right: 2.4rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .administration-cGd {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.01rem;
              color: rgba(0, 0, 0, 0.8700000048);
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .navigation-elements-vertical-line-items-default-inactive-iqT {
            margin: 0rem 12.4rem 0rem 1.4rem;
            width: calc(100% - 13.8rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .icon-social-people-3cq {
              margin-right: 2.4rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .help-naR {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.01rem;
              color: rgba(0, 0, 0, 0.8700000048);
              font-family: Roboto, 'Source Sans Pro';
            }
          }
        }
        .widget-1-fu7 {
          width: 47.2rem;
          align-items: center;
          background-color: #ffffff;
          border-radius: 1.4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 0.8rem 1.6rem 0.8rem;
          height: 100%;
          display: flex;
          flex-direction: column;

          .company-facts-Yxu {
            display: flex;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02rem;
            color: #000000;
            white-space: nowrap;
            margin: 0rem 28.2rem 1.6rem 0rem;
            flex-shrink: 0;
            font-family: Roboto, 'Source Sans Pro';
          }
          .subtitle-bwB {
            line-height: 1.5;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: 0.016rem;
            color: #8e8e93;
            margin: 0rem 34.4rem 2.5rem 0rem;
          }
          .auto-group-b4yt-6sw {
            margin-bottom: 1.9rem;
            width: 100%;
            height: 26.4rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icons-navigation-24px-white-chevron-left-RQR {
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 2.2rem 1rem 0rem;
              width: 2.4rem;
            }
            .diagrams-gr9 {
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 0.5rem;
              width: 38.1rem;
              height: 100%;
              align-items: flex-end;
              display: flex;

              .total-oQy {
                font-size: 1.6rem;
                color: #4f4f4f;
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                display: flex;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.016rem;
                font-family: Roboto, 'Source Sans Pro';
              }
              .auto-group-rjtk-s9w {
                margin-right: 0.9rem;
                width: calc(100% - 0.9rem);
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .auto-group-yhot-nXo {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  margin: 1.2rem 0.8rem 0rem 0rem;
                  width: 33.6rem;
                  align-items: center;

                  .auto-group-3vrk-Ghs {
                    margin-bottom: 0.2rem;
                    width: 33.6rem;
                    height: 20rem;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .auto-group-dmwd-Bpq {
                    align-items: center;
                    flex-shrink: 0;
                    margin: 0rem 2.75rem 0rem 3.15rem;
                    width: calc(100% - 5.9rem);
                    display: flex;

                    .item-2016-gWh {
                      letter-spacing: 0.016rem;
                      white-space: nowrap;
                      margin-right: 4.3rem;
                      display: flex;
                      align-items: center;
                      line-height: 1.5;
                      font-family: Roboto, 'Source Sans Pro';
                      flex-shrink: 0;
                      justify-content: center;
                      font-size: 1.6rem;
                      font-weight: 400;
                      color: #4f4f4f;
                    }
                    .item-2017-n3w {
                      line-height: 1.5;
                      letter-spacing: 0.016rem;
                      flex-shrink: 0;
                      display: flex;
                      justify-content: center;
                      font-size: 1.6rem;
                      font-weight: 400;
                      white-space: nowrap;
                      margin-right: 4.2rem;
                      align-items: center;
                      color: #4f4f4f;
                      font-family: Roboto, 'Source Sans Pro';
                    }
                    .item-2018-1xH {
                      line-height: 1.5;
                      letter-spacing: 0.016rem;
                      font-weight: 400;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 1.6rem;
                      color: #4f4f4f;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      margin-right: 4.4rem;
                      flex-shrink: 0;
                    }
                    .item-2019-v3f {
                      justify-content: center;
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.5;
                      color: #4f4f4f;
                      align-items: center;
                      letter-spacing: 0.016rem;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                    }
                  }
                }
                .auto-group-ijxb-zJR {
                  flex-shrink: 0;
                  display: flex;
                  flex-direction: column;

                  .item-707-uAV {
                    font-family: Roboto, 'Source Sans Pro';
                    margin-bottom: 4rem;
                    display: flex;
                    font-size: 1.6rem;
                    color: #4f4f4f;
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.016rem;
                  }
                  .item-400-2ku {
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.016rem;
                    color: #4f4f4f;
                    font-family: Roboto, 'Source Sans Pro';
                    margin-bottom: 4.3rem;
                    display: flex;
                    white-space: nowrap;
                  }
                  .item-200-wss {
                    margin-bottom: 3.6rem;
                    font-weight: 400;
                    letter-spacing: 0.016rem;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    font-size: 1.6rem;
                    line-height: 1.5;
                    color: #4f4f4f;
                    flex-shrink: 0;
                  }
                  .item-0-pAy {
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.016rem;
                    color: #4f4f4f;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
              }
            }
            .icons-navigation-24px-white-chevron-right-YMs {
              margin-bottom: 1rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-wgsf-G2y {
            margin: 0rem 8.7rem 3.6rem 6.6rem;
            width: calc(100% - 15.3rem);
            height: 2rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item-1-8qs {
              align-items: center;
              flex-shrink: 0;
              margin-right: 2.1rem;
              height: 100%;
              display: flex;

              .ellipse-GSH {
                margin-right: 0.8rem;
                width: 1.6rem;
                height: 1.6rem;
                background-color: #f4a26c;
                border-radius: 0.8rem;
                flex-shrink: 0;
              }
              .paris-ZwB {
                display: flex;
                font-size: 1.4rem;
                letter-spacing: 0.05rem;
                color: #000000;
                font-weight: 400;
                line-height: 1.4285714286;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .item-2-E1j {
              margin-right: 2.2rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .ellipse-Ag5 {
                border-radius: 0.8rem;
                flex-shrink: 0;
                margin-right: 0.8rem;
                width: 1.6rem;
                height: 1.6rem;
                background-color: #3faea3;
              }
              .bangkok-FhX {
                display: flex;
                font-weight: 400;
                line-height: 1.4285714286;
                white-space: nowrap;
                font-size: 1.4rem;
                letter-spacing: 0.05rem;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
            .item-3-YwX {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .ellipse-Vrm {
                margin-right: 0.8rem;
                width: 1.6rem;
                height: 1.6rem;
                background-color: #914df0;
                border-radius: 0.8rem;
                flex-shrink: 0;
              }
              .san-francisco-p8M {
                letter-spacing: 0.05rem;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                white-space: nowrap;
                display: flex;
                line-height: 1.4285714286;
              }
            }
          }
          .dots-hhw {
            width: 4rem;
            height: 0.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .widget-2-YiZ {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          border-radius: 1.4rem;
          align-items: center;
          flex-direction: column;
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 2rem 1.6rem 1.6rem 0.8rem;
          width: 47.2rem;

          .statistics-pvy {
            margin: 0rem 32.9rem 2rem 0rem;
            display: flex;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02rem;
            white-space: nowrap;
          }
          .auto-group-ra7o-J5T {
            width: 100%;
            height: 26.4rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 3rem;

            .icons-navigation-24px-white-chevron-left-c69 {
              margin: 8rem 7.2rem 0rem 0rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-6udb-snm {
              margin-right: 6.4rem;
              width: 26.4rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .diagram-AG5 {
                background-position: center;
                background-repeat: no-repeat;
                background-image: url('REPLACE_IMAGE:34:159');
                width: 26.4rem;
                height: 26.4rem;
                position: absolute;
                left: 0;
                top: 0;
                background-size: cover;

                .ellipse-fCq {
                  vertical-align: top;
                  width: 26.4rem;
                  height: 26.4rem;
                  object-fit: contain;
                }
              }
              .subtitle-u7B {
                font-size: 1.6rem;
                font-family: Roboto, 'Source Sans Pro';
                font-weight: 400;
                line-height: 1.5;
                white-space: nowrap;
                height: 2.4rem;
                left: 6rem;
                top: 12.7rem;
                display: flex;
                position: absolute;
                justify-content: center;
                color: #000000;
                width: 14.4rem;
                align-items: center;
                letter-spacing: 0.016rem;
              }
            }
            .icons-navigation-24px-white-chevron-right-vny {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 8rem;
              width: 2.4rem;
              height: 2.4rem;
            }
          }
          .auto-group-tabo-beD {
            height: 2rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 3.4rem 1.7rem 3.2rem;
            width: calc(100% - 6.6rem);

            .item-1-GkM {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 2rem;

              .ellipse-p1B {
                margin-right: 0.8rem;
                width: 1.6rem;
                height: 1.6rem;
                background-color: #eb5757;
                border-radius: 0.8rem;
                flex-shrink: 0;
              }
              .kfc-7W5 {
                display: flex;
                font-size: 1.4rem;
                line-height: 1.4285714286;
                color: #000000;
                white-space: nowrap;
                font-weight: 400;
                letter-spacing: 0.05rem;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
            .item-2-auT {
              margin-right: 1.8rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .ellipse-Ks3 {
                margin-right: 0.8rem;
                width: 1.6rem;
                height: 1.6rem;
                background-color: #eaab00;
                border-radius: 0.8rem;
                flex-shrink: 0;
              }
              .fiat-chrysler-llc-32M {
                font-weight: 400;
                color: #000000;
                white-space: nowrap;
                display: flex;
                font-size: 1.4rem;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                line-height: 1.4285714286;
                letter-spacing: 0.05rem;
              }
            }
            .item-3-uKT {
              margin-right: 1.7rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .ellipse-S4V {
                border-radius: 0.8rem;
                flex-shrink: 0;
                margin-right: 0.8rem;
                width: 1.6rem;
                height: 1.6rem;
                background-color: #a84069;
              }
              .klm-7Ad {
                font-size: 1.4rem;
                font-weight: 400;
                letter-spacing: 0.05rem;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                line-height: 1.4285714286;
                color: #000000;
                flex-shrink: 0;
              }
            }
            .item-4-yCq {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .ellipse-igD {
                margin-right: 0.8rem;
                width: 1.6rem;
                height: 1.6rem;
                background-color: #00b2a9;
                border-radius: 0.8rem;
                flex-shrink: 0;
              }
              .aeroflot-bk1 {
                white-space: nowrap;
                font-weight: 400;
                line-height: 1.4285714286;
                letter-spacing: 0.05rem;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                display: flex;
                font-size: 1.4rem;
              }
            }
          }
          .auto-group-ebx1-eTP {
            flex-shrink: 0;
            margin: 0rem 6.8rem 3.3rem 0rem;
            height: 2rem;
            display: flex;
            align-items: center;

            .item-5-iy3 {
              flex-shrink: 0;
              margin-right: 1.6rem;
              height: 100%;
              display: flex;
              align-items: center;

              .ellipse-rJZ {
                height: 1.6rem;
                background-color: #2d9cdb;
                border-radius: 0.8rem;
                flex-shrink: 0;
                margin-right: 0.8rem;
                width: 1.6rem;
              }
              .lukoil-NXo {
                letter-spacing: 0.05rem;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
                color: #000000;
              }
            }
            .item-6-JAZ {
              flex-shrink: 0;
              margin-right: 1.5rem;
              height: 100%;
              display: flex;
              align-items: center;

              .ellipse-T3T {
                margin-right: 0.8rem;
                width: 1.6rem;
                height: 1.6rem;
                background-color: #bb6bd9;
                border-radius: 0.8rem;
                flex-shrink: 0;
              }
              .american-express-xku {
                flex-shrink: 0;
                display: flex;
                font-size: 1.4rem;
                font-weight: 400;
                letter-spacing: 0.05rem;
                color: #000000;
                white-space: nowrap;
                line-height: 1.4285714286;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
            .item-7-UDT {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              height: 100%;

              .ellipse-A6H {
                background-color: #4cd964;
                border-radius: 0.8rem;
                flex-shrink: 0;
                margin-right: 0.8rem;
                width: 1.6rem;
                height: 1.6rem;
              }
              .daimler-f33 {
                display: flex;
                font-weight: 400;
                line-height: 1.4285714286;
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                letter-spacing: 0.05rem;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
          }
          .dots-Ycd {
            vertical-align: top;
            flex-shrink: 0;
            margin-left: 0.8rem;
            width: 4rem;
            height: 0.8rem;
            object-fit: contain;
          }
        }
        .button-with-icon-csP {
          flex-shrink: 0;
          margin-bottom: 43.2rem;
          box-sizing: border-box;
          padding: 0.8rem 2.1rem 0.8rem 1.6rem;
          background-color: #27ae60;
          box-shadow: 0 0.4rem 0.4rem rgba(39, 174, 96, 0.200000003);
          border-radius: 1.4rem;
          width: 15.2rem;
          display: flex;
          align-items: center;
          border: solid 0.2rem #27ae60;

          .add-XjT {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.5rem;
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
          }
          .add-widget-3C1 {
            justify-content: center;
            line-height: 1.5;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            white-space: nowrap;
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            font-weight: 700;
            letter-spacing: 0.025rem;
          }
        }
      }
      .auto-group-6125-F3B {
        height: 47.2rem;
        display: flex;
        column-gap: 1.6rem;
        align-items: flex-end;
        flex-shrink: 0;

        .credits-xiH {
          box-sizing: border-box;
          padding: 1.2rem 8.2rem 1.3rem 8.2rem;
          width: 25.6rem;
          flex-direction: column;
          border-radius: 1.4rem;
          flex-shrink: 0;
          height: 8rem;
          align-items: center;
          display: flex;
          background-color: #ffffff;

          .camioca-D8R {
            justify-content: center;
            font-size: 1.4rem;
            letter-spacing: 0.042rem;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1.7rem;
            display: flex;
            line-height: 1.7142857143;
            color: #000000;
            white-space: nowrap;
            align-items: center;
            font-weight: 800;
          }
          .version-10011-6T7 {
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1666666667;
            font-family: Roboto, 'Source Sans Pro';
            display: flex;
            color: #8e8e93;
            white-space: nowrap;
            flex-shrink: 0;
            letter-spacing: 0.012rem;
          }
        }
        .widget-3-xER {
          flex-shrink: 0;
          width: 47.2rem;
          height: 100%;
          align-items: center;
          flex-direction: column;
          background-color: #ffffff;
          border-radius: 1.4rem;
          box-sizing: border-box;
          padding: 2rem 2.4rem 22.9rem 2.4rem;
          display: flex;

          .assigned-risks-cpm {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2;
            flex-shrink: 0;
            margin: 0rem 28.4rem 18.5rem 0rem;
            display: flex;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            letter-spacing: 0.02rem;
            color: #000000;
          }
          .there-are-no-risks-assigned-TqP {
            display: flex;
            letter-spacing: 0.012rem;
            color: #8e8e93;
            margin-left: 0.1rem;
            font-weight: 400;
            line-height: 1.1666666667;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
          }
        }
        .widget-4-rsX {
          height: 100%;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          border-radius: 1.4rem;
          box-sizing: border-box;
          padding: 2rem 2.4rem 22.9rem 2.4rem;
          flex-shrink: 0;
          width: 47.2rem;
          align-items: center;

          .assigned-action-items-nFP {
            flex-shrink: 0;
            font-weight: 500;
            color: #000000;
            white-space: nowrap;
            line-height: 1.2;
            letter-spacing: 0.02rem;
            font-family: Roboto, 'Source Sans Pro';
            margin: 0rem 21.7rem 18.5rem 0rem;
            display: flex;
            font-size: 2rem;
          }
          .there-are-no-action-items-assigned-5VP {
            white-space: nowrap;
            display: flex;
            font-size: 1.2rem;
            line-height: 1.1666666667;
            color: #8e8e93;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.1rem;
            font-weight: 400;
            letter-spacing: 0.012rem;
          }
        }
      }
    }
  }
}
